<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @user.uid %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @user.provider %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Github username:</strong>
  <%= @user.github_username %>
</p>

<p>
  <strong>Ssh username:</strong>
  <%= @user.ssh_username %>
</p>

<p>
  <strong>Ssh public key:</strong>
  <%= @user.ssh_public_key %>
</p>

<p>
  <strong>Linux password hash:</strong>
  <%= @user.linux_password_hash %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @user.enabled %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
